<HTML>
<HEAD>
<TITLE>로그인</TITLE>
</HEAD>
<BODY>
<form method="POST" action="/account/member/login/">
{% csrf_token %}
<table align=center border=1 bordercolor=white cellspacing=0 cellpadding=2>
{{form.as_table}}
<tr bgcolor=#ececec align=center>
	<td colspan=4>Login</td>
</tr>
<tr>
	<td>ID </td>
	<td>
		<input type=text id=ID name=ID size=19 maxlength=15>
	</td>
</tr>
<tr>
	<td>PW </td>
	<td>
		<input type=password id=password name=password size=19 maxlength=15>
	</td>
</tr>
<tr>
	<td>
		<input type=submit value=로그인>
	</td>
	<td>
		<input type=button value=회원가입 onclick="location.href='/join/'">
		<input type=button value=ID/PW찾기 onclick="location.href='/find_PW/'">
	</td>
</tr>
</form>
</BODY>
</HTML>